

/* .section {
  padding: 5rem 0;
  scroll-margin-top: 4rem;
  min-width: 100vw;
}
.section-title {
  text-align: center;
  margin-bottom: 4rem;
}
.section-title h2 {
  text-transform: uppercase;
}
.section-title span {
  color: var(--clr-primary-5);
}
.section-center {
  width: 100vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
} */

/*
=============== 
About
===============
*/

.about-img,
.about-info {
  margin-bottom: 2rem;
}

@media screen and (min-width: 992px) {
  .about-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
  .about-img,
  .about-info {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1170px) {
  .about-img::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0.5rem solid var(--clr-primary-5);
    box-sizing: border-box;
    top: -1.5rem;
    left: -1.5rem;
  }

  .about-img {
    position: relative;
  }
  .about-photo {
    position: relative;
  }

  .about-img img {
    min-height: 100%;
  }

  .about-info {
    font-size: 1.25rem;
  }
}
/*
=============== 
goals
===============
*/
.goals {
  background: var(--clr-grey-10);
}
.goals {
  text-align: center;
  margin-bottom: 3rem;
}
.goal-icon {
  background: var(--clr-primary-5);
  color: var(--clr-primary-1);
  padding: 0.5rem;
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.goal-text {
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.25rem;
}

@media screen and (min-width: 576px) {
  .goals-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .goal {
    margin-bottom: 0rem;
  }
}
@media screen and (min-width: 992px) {
  .goals-center {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1170px) {
  .goal {
    display: flex;
    text-align: left;
  }
  .goal-icon {
    align-self: start;
  }
  .goal-info {
    padding-left: 1rem;
  }
  .goal-title {
    margin-bottom: 0.5rem;
  }
}

/*
=============== 
Case Studies
===============
*/

.study-card {
  transition: var(--transition);
  background: var(--clr-grey-10);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}
.study-card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}
.study-img-container {
  position: relative;
}
.study-img {
  height: 15rem;
  object-fit: cover;
}
.study-date {
  position: absolute;
  right: 0;
  bottom: 0;
  background: var(--clr-primary-8);
  color: var(--clr-primary-1);
  text-transform: capitalize;
  padding: 0.25rem 0.5rem;
  margin-bottom: 0;
}
.study-info {
  padding: 1.25rem 1.5rem;
}
/* additional css for different layout*/
.study-title {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.study-title p,
.study-title h4 {
  margin-bottom: 0.75rem;
  line-height: 1.25;
}
.study-title p {
  color: var(--clr-grey-7);
}
/* end of additional css for different layout*/
.study-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.study-footer p {
  line-height: 0;
  margin-bottom: 0;
  text-transform: capitalize;
  color: var(--clr-primary-5);
}
.study-footer p span {
  margin-right: 0.25rem;
}
.study-btn {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .featured-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}
@media screen and (min-width: 1170px) {
  .featured-center {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


.event-center{
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: flex;
  flex-direction: column;
}

.event-scroll{
  background-color: var(--clr-grey-10);
}

.event-calendar{
  background-color: var(--clr-grey-10);
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-events {
  height: 100%;
  flex: 10rem;
  margin-top:   5rem;
}

.event-card{
  margin-bottom: 2rem;
  background-color: var(--clr-grey-9);
  margin: 1rem;
  border-radius: 10px;
}

.event-card h4 {
  padding-left: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.event-table{
  border-radius: 15px;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

@media screen and (min-width: 992px) {
  .event-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }

  .event-calendar {
    margin-bottom: 0;
  }

  .event-events{
    margin: 0 0;
  }
}