ul {
    list-style-type: none;
}


.NavbarItems{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translate(-50%);
    font-size: 1.2rem;
    padding:0 30px;
    background-color:rgb(64, 42, 13);
    box-shadow: 0 5px 15px rgb(237, 234, 230) ;
    width: 110%;
    margin-left: 49.35%;
    height: 10%;
    border-radius: 1%;
    top:0;
    z-index: 2;
}


/*
.logo{
    position: relative;
    margin-right: 0%;
    color: rgb(240, 237, 233);
    font-size: xx-large;
}
*/
/*
.Clogo{
    margin-left: 0.2rem;
    font-size: 1.6rem ;

}
*/
.bar{
    display:grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 5%; 
    text-align: center;
    align-items: center;
    list-style: none;
    font-size: 60%;
    margin-right: 0;
    justify-content: start;
}

.logo {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    color: rgb(235, 207, 155);
}

.nav-links{
    text-decoration: none;
    color: rgb(240, 237, 233);
    padding: 0.7rem 1rem;
    white-space: nowrap;
}

.nav-links:hover{
    background:rgb(230, 195, 149) ;
    border-radius: 2%;
    transition: all 0.4s ease-in-out;
}

