.keyInfo{
    margin:auto;
    padding: 3%;
    width: 30%;
    font-size: larger;
    font-weight: 600;
}
.programButton{
    text-align: center;
    padding: 3%;
}

.blogButton{
    text-align: center;
    padding: 3%;
}
.twitter{
    display:flex;
    justify-content:center;
    margin:auto;
    width:80%;
}

.currentEvents{
    text-align: center;
    padding: 3%;
}

.englishPage{
    padding: 20%;
    text-align: right;
    text-decoration: none;
}

.navBar{
    display: inline;
    width: 10%;
}

.logo{
    text-align: center;
    scale: 50%;
}


#mainButton{
    margin: auto;
    display: block;
    padding: 2%;
    background-color: #4bff57;
    border-color: #b6ffbb;
    border-radius: 8px;
    color:black;
    font-weight: 600;
}

#mainButton:hover{
    background-color: #3ec747;
}

.currentEvents{
    font-weight: 600;
}


 