*{
  box-sizing: border-box;
}
.column {
  float: left;
  margin-left:160px;
  width: 10%;
  padding: 1px;
  border-color: aqua;
}

h1.nub2 {
text-align:center;
text-decoration:underline;
font-size:40px;
color:rgba(224, 210, 209);
font-family: "Times New Roman", Times, serif;
}
.row::after {
  content: "";
  clear: all;
  display: table;
}